.App {
  display: flex;
  height: 100%;
  /* background-color: rgba(255, 127, 80, 0.247); */
}

.container {
  display: flex;
  flex: 1;
}

.middel-panel {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-y: auto;
}

.panel-window {
  background-color: rgb(36, 37, 38);
  box-shadow: 0 0px 4px 0 rgb(0, 0, 0);
}

.panel-title {
  font-size: large;
  font-weight: bold;
  /* background-color: rgb(33, 34, 35); */
  background-color: rgb(65, 67, 69);
  box-shadow: inset 0 0px 4px 0 rgba(0, 0, 0, 0.4);
  padding: 3px 10px 3px 10px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.item-bubble {
  background-color: rgb(50, 51, 53);
  color: rgb(245, 246, 247);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0 5px 0;
  box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.85);
  white-space: pre-wrap;
}
